.pagination_buttons {
  position: absolute;
  bottom: 1rem;
  /* bottom: 0; */
}
.pagination_button {
  background-color: transparent;
  color: #00cdac;
  border: none;
  font-size: 0.8rem;
}

.pagination_button:disabled {
  color: #c4c4c4;
}
