.item {
  padding: 1rem 0;
}

.text_col {
  margin: auto;
}

.post_description {
  display: flex;
  align-items: center;
  user-select: none;
  gap: 0.8rem;
  flex: 1;
}
.post_description span {
  font-size: 0.875rem;
  font-weight: 700;
  color: #525f7f;
}

.post_description p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: #525f7f;
}

.control_buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

@media screen and (min-width: 480px) {
  .control_buttons {
    flex-direction: row;
    align-items: center;
  }
}

.modal-body {
  padding: 0;
}
.post_form_inputs {
  border-bottom: 1px solid #e9ecef;
  padding: 2rem 0 0.5rem 0;
}
.post_form_inputs > * {
  padding: 0 1.5rem;
}
.handel_edit_button,
.control_buttons a,
.control_buttons button {
  border: none;
  color: #ffffff;
  border-radius: 0.1875rem;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.08),
    0 0.25rem 0.25rem rgba(50, 50, 93, 0.11);
  padding: 0.75rem 1.75rem;
  font-weight: 500;
}

.edit {
  margin: 1.5rem;
  background-color: #11cdef;
}
.primary_button {
  background-color: #5e72e4;
}

.edit_button {
  background-color: #2dce89;
}

.danger_button {
  background-color: #fb6340;
}

.form_label {
  font-size: 0.875rem;
  color: #525f7f;
}

.input_style textarea,
.input_style {
  font-size: 0.875rem;
  line-height: 1.1875rem;

  color: #8898aa;
}

.modal_title {
  font-size: 1rem;
  color: #32325d;
}

.fom_error {
  color: #fb6340;
}
