body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.colored {
  color: #00cdac;
}

.message {
  color: #898888;
}

a,
button {
  outline: none;
}
