.post_details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  user-select: none;
  gap: 0.8rem;
  flex: 1;
  height: 100%;
}

.post_content {
  flex: 1;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: #3f3f3f;
  margin-bottom: 1rem;
}

.body {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 42px;
  color: #3f3f3f;
  margin-bottom: 1rem;
}

.user_section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.use_info {
  margin: 0;
  padding: 0.2rem;
}

.name {
  font-size: 1rem;
  font-weight: 700;
  color: #00cdac;
}

.address {
  font-size: 0.9rem;
  font-weight: 400;
  color: #525f7f;
}
.user_section .avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
